@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 142 86% 28%;
    --primary-foreground: 356 29% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 45%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 142 86% 28%;
    --ghost: theme("colors.light3");
    --chart-blue: #3b82f6;
    --chart-amber: #f59e0b;
    --chart-teal: #14b8a6;
    --chart-rose: #f43f5e;
    --chart-green: #22c55e;
    --chart-purple: #a855f7;
    --chart-yellow: rgb(255, 171, 0);
    --chart-sky: rgb(0, 184, 217);
    --no-color: #000000;
    --text-disabled: #919eab;

    --primary-1: #00a76f;
    --primary-2: #004b50;
    --primary-3: #007867;
    --primary-4: #c8fad6;
    --primary-5: #5be49b;
    --primary-6: #122527;
    --theme-teal: #00a76f;
    --theme-blue: #0c68e9;
    --theme-violet: #8e33ff;
    --theme-sky: #00b8d9;
    --theme-yellow: #ffab00;
    --theme-rose: #ff5630;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 142 86% 28%;
    --primary-foreground: 356 29% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 142 86% 28%;
    --primary-1: #00a76f;
    --primary-2: #004b50;
    --primary-3: #007867;
    --primary-4: #c8fad6;
    --primary-5: #5be49b;
    --primary-6: #122527;
    --ghost: theme("colors.dark3");
    --chart-blue: #0284c7;
    --chart-amber: #f59e0b;
    --chart-teal: #14b8a6;
    --chart-rose: #e11d48;
    --chart-green: #22c55e;
    --chart-purple: #a855f7;
    --chart-yellow: rgb(255, 171, 0);
    --chart-sky: rgb(0, 184, 217);
    --no-color: #ffffff;
    --text-disabled: #919eab;
  }
}

.sidebarScroll::-webkit-scrollbar {
  display: none;
}

.sidebarScroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.loader {
  display: block;
  --height-of-loader: 4px;
  --loader-color: #0071e2;
  width: 70%;
  height: var(--height-of-loader);
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
}

.loader::before {
  content: "";
  position: absolute;
  background: var(--loader-color);
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 30px;
  animation: moving 1s ease-in-out infinite;
}

@keyframes moving {
  50% {
    width: 100%;
  }

  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}

.Transition {
  @apply transition duration-150 ease-in-out;
}

.card_hover {
  @apply hover:bg-light3 dark:hover:bg-dark3 Transition;
}

.pages_spaces {
  @apply text-dark1 dark:text-light1 pt-[90px] pl-[350px] max-md:px-4 md:pr-12 max-lg:pb-[50px] lg:mb-[200px] min-h-screen transition-all duration-150 max-w-[1600px] mx-auto;
}

.btn_icon {
  @apply p-[8px] rounded-full hover:bg-light3 hover:dark:bg-slate-800 hover:text-icon-hover-light dark:hover:text-icon-hover-dark dark:text-icon-dark text-icon-light text-[25px];
}

.logo-color {
  @apply text-primary-1 dark:text-primary-4;
}

.heading1 {
  @apply text-large font-extrabold;
}

.subheading {
  @apply text-small text-dark3 dark:text-light3;
}

.bold-value {
  @apply font-bold text-large;
}

.bold-value-2 {
  @apply font-medium;
}

.bold-value-3 {
  @apply text-[16px] font-semibold leading-none tracking-tight;
}

.chart-cartesian-grid {
  @apply stroke-slate-100 dark:stroke-dark3;
}

.tableContainer {
  @apply rounded-card shadow-card dark:shadow-dark bg-white dark:bg-dark2 overflow-hidden;
}

.table_sub_text {
  @apply font-light text-xs text-slate-500;
}

.text_disabled {
  @apply text-slate-500 text-[12px];
}

.card_title {
  @apply text-[14px] font-medium;
}

.card_description {
  @apply text-[14px] text-slate-500;
}

.badge-green {
  @apply bg-green-100 text-green-700 dark:bg-green-800/30 dark:text-green-300;
}

.badge-blue {
  @apply bg-blue-100 text-blue-700 dark:bg-blue-800/30 dark:text-blue-300;
}

.badge-orange {
  @apply bg-orange-100 text-orange-700 dark:bg-orange-800/30 dark:text-orange-300;
}

.badge-slate {
  @apply bg-slate-100 text-slate-700 dark:bg-slate-800/30 dark:text-slate-300;
}

.badge-gray {
  @apply bg-gray-200 text-gray-700 dark:bg-gray-600/30 dark:text-gray-300;
}

.badge-rose {
  @apply bg-rose-100 text-rose-700 dark:bg-rose-800/30 dark:text-rose-300;
}

.border-color {
  @apply border-slate-100 dark:border-dark2;
}
