.editor-placeholder {
  color: var(--text-disabled);
  font-weight: 400;
  font-size: 14px;
  position: absolute;
  top: 19px;
  left: 16px;
  overflow: hidden;
  user-select: none;
  pointer-events: none;
}

.editor-paragraph {
  margin: 0 0 15px 0;
  position: relative;
}

.editor-textBold {
  font-weight: 900;
}
